@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  background-color: white;
  height: 100%;
  width: 100%;
}

#icon-eye {
  width: 250px;
  margin: auto;
  padding: 20px;
  overflow: auto;
  color: white;
}

main {
  font-family: "IBM Plex Mono", sans-serif;
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.08em;
}

h2 {
  font-size: 1.2em;
}

.button-wallet {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 0.9em;
  background: none;
  outline: none;
  padding: 0.5em 2em;
  border: 2px solid #1f1c45;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.button-wallet:hover {
  background-color: #eee;
}

.title {
  background-color: #1f1c45;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.text-container {
  text-align: center;
  padding-top: 3em;
}

.page-container {
  max-width: 40em;
  margin: auto;
  padding-top: 5em;
}

.giraffe-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

@media only screen and (max-width: 550px) {
  .giraffe-container {
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 0.9em;
  }

  .hide-mobile {
    display: none;
  }
}

@media only screen and (min-width: 550px) {
  .show-mobile {
    display: none;
  }
}

.header-img {
  width: 3em;
  border-radius: 50%;
}

.giraffe-img {
  width: 100%;
  border-radius: 4px;
}

.small-break {
  margin-top: 1.5em;
  width: 100%;
  margin-bottom: 1.5em;
}

.uppercase {
  text-transform: uppercase;
}
